## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

## project file ##

# files #
config.codekit
*.map
.sass-cache
temp
storage_bot_db

# Node.jsモジュールのディレクトリは無視
node_modules

# tokenとか載せたらいかんやつね。
boot-command
googleapi
client_secret.json
